textarea {
    /* resize: none;*/

    /* hide scroll bar */
    /* overflow: hidden;  */
    width: 100%
}

lable {
    display: block;
    font-weight: bold;
}

.top-label{
    margin: 13px auto;
}

#footer {
    text-align: center;
    padding-bottom: 5%;
}

button {
    margin-bottom: 10px;
}

#result{
    margin-top: 30px;
}