textarea {
    /* resize: none;*/

    /* hide scroll bar */
    /* overflow: hidden;  */
    width: 100%
}


#main{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
}


#form{
    padding: 10px;
    flex:1 0;/* grow flex-basis */
}

#result-area{
    padding: 10px;
    flex:1 0;/* grow flex-basis */
}

@media all and (max-width: 1200px) {
    #header{
        font-size: 5em !important;
    }

    #main{
    }

    .base-text{
        font-size: 3em !important;
    }

    #form{
        padding: 10px;
        flex:1 100%;/* grow flex-basis */
    }
    
    #result-area{
        padding: 10px;
        flex:1 100%;/* grow flex-basis */
    }

    #footer{
        font-size: 3em !important;
    }

}


.base-text{
    font-size: 1.2em;
}

lable {
    display: block;
    font-weight: bold;
}

.top-label{
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer {
    text-align: center;
    padding-bottom: 2em;
}

button {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

#result{
    margin-top: 3em;
}

#header{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.5em;
}